conn oracle-tunnel-1
    left={{ cpe_private_ip }}
    leftid={{ cpe_public_ip }}
    right={{ vpn_1_public_ip }}
    authby=secret
    leftsubnet=0.0.0.0/0
    rightsubnet=0.0.0.0/0
    auto=start
    mark=5/0xffffffff
    vti-interface=vti1
    vti-routing=no
    ikev2=no
    ike=aes_cbc256-sha2_384;modp1536
    phase2alg=aes_gcm256;modp1536
    encapsulation=yes
    ikelifetime=28800s
    salifetime=3600s
conn oracle-tunnel-2
    left={{ cpe_private_ip }}
    leftid={{ cpe_public_ip }}
    right={{ vpn_2_public_ip }}
    authby=secret
    leftsubnet=0.0.0.0/0
    rightsubnet=0.0.0.0/0
    auto=start
    mark=6/0xffffffff
    vti-interface=vti2
    vti-routing=no
    ikev2=no
    ike=aes_cbc256-sha2_384;modp1536
    phase2alg=aes_gcm256;modp1536
    encapsulation=yes
    ikelifetime=28800s
    salifetime=3600s
