# ------------------------------------------------------------------------------
# SSH Configuration
# ------------------------------------------------------------------------------
Host *
    IdentityFile {{ ansible_env.HOME }}/.ssh/id_rsa
    StrictHostKeyChecking=accept-new
    User opc
    UserKnownHostsFile .ssh/known_hosts
Host VM01
    Hostname {{ vms.results[0].instance.primary_public_ip }}
